
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 80 50% 96%;
    --foreground: 294 43% 14%;
    --card: 0 0% 91%;
    --card-foreground: 294 43% 14%;
    --popover: 0 0% 91%;
    --popover-foreground: 294 43% 14%;
    --primary: 294 43% 14%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 2% 91%;
    --secondary-foreground: 294 43% 14%;
    --muted: 80 50% 86%;
    --muted-foreground: 294 43% 14%;
    --accent: 316 38% 78%;
    --accent-foreground: 294 43% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 2% 80%;
    --input: 60 2% 80%;
    --ring: 294 43% 14%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.glass-card {
  @apply backdrop-blur-sm bg-white/30 border border-white/20;
}
